body {
    background-color: rgb(235, 234, 227);
}
h1{
    color: #66BFBF;
}
h2 {
    color: #66BFBF;
}
h3 {
    color: #66BFBF;
}
h4 {
    color: #66BFBF;
}

hr {
    border-style: dotted solid;
    border-color: rgb(175, 171, 171);
    border-width: 7px;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom: 0ch;
    height: 2;
    width: 5%;
}

