body {
    background-color: rgb(235, 234, 227);
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h6{
    color: #66BFBF;
}
.contact-info{
    gap: 10px;
}
.fa{
    color: #66BFBF;
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.image-profile{
    padding: 1.5rem;
    border-radius: 50%;
    width: 450px;
}

img {
    width: 100%;
    height: auto;
}

.image-container{
    display: grid;
    place-content: center;
}


/* hr {
    border-style: dotted solid;
    border-color: rgb(175, 171, 171);
    border-width: 7px;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom: 0ch;
    height: 2;
    width: 5%;
} */

